<h1>List of all restaurants</h1>
<%= link_to "Add restaurant", new_restaurant_path, class: "btn btn-primary" %>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
